.skills {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.skills h1 {
  max-width: 90%;
  width: 82%;
  text-align: left;
}

.skills p {
  font-size: 18px;
}

.skillsContent {
  max-width: 90%;
  width: 80%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  border: 2px solid #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  background-color: #444;
}

.skillsItem {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
  color: #f1f1f1;
}

.skillsList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}

.skill {
  background-color: #777;
  color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
}
