.App {
  text-align: center;
  padding-top: 100px;
  width: 100%;
}

.text {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .App {
    padding-top: 90px;
  }

  .text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .App {
    padding-top: 80px;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .App {
    padding-top: 70px;
  }

  .text {
    font-size: 16px;
  }
}
